@media (max-width: 1390px) {
    main .main-items{
        margin-right: 6rem;
        margin-left:15rem;
      }

      main h2 {
        font-size: 5rem;
      }
      
}

@media (max-width: 747px) {
    main .main-items{
        margin-right: 1rem;
        margin-left:10rem;
      
      }
      
      main h2 {
      width: 90%;
        font-size: 4.6rem;
      }

      
      
      main p {
        font-size: 1rem;
      }

      .p1 , .p2{
        font-size: 1.4rem;
      }
      
      main p b {
        font-size: 1.2rem;
      }
      
}

@media (max-width: 432px) {
    main .main-items{
        margin-right: 1rem;
        margin-left:3rem;
      }
      
      main p a{
        font-size: 1rem;
      }
      
      main h2 {
        font-size: 5rem;
        width: 100%;
      }
      
      main p {
        font-size: 0.8rem;
        width: 85%;
      }
      .p1 , .p2{
        font-size: 1rem;
        width: 85%;
      }
      
      main p b {
        font-size: 1.2rem;
      }
}

